<div>
  <strong>ACT-W: Advancing the Careers of Technical Women</strong>

  <p>ACT-W is an annual, locally-focused conference that supports, empowers, and educates women in technology while creating a sense of belonging and community.</p>
 
  <p>Held in multiple cities throughout the country, women in tech organizations band together to create an outstanding experience for local women. This career-building conference includes interactive booths, breakout sessions, networking, technical workshops, a career fair, and plenty of inspiration. Through sponsorship and a career fair, ACT-W provides an opportunity for local companies to connect with the talented technical women they seek. </p>

  <p>Women of all levels of interest and involvement in tech are invited to attend. Whether you have a lot to learn or a bit to teach, we hope you join us!</p>

  <p>If you are interested in sponsoring an ACT-W conference and/or being a part of a career fair, please contact act-w@chicktech.org for more information.</p>

</div>
